
<div class="row">
  <div class="col">
    <div class="leftside">
      <div class="d-flex align-items-center border border-light p-5" style="height: 500px;">

        <img [src]="background" alt="Imagem de um carro FORD vermelho" class="img-fluid"/>

      </div>

    </div>
  </div>

  <div class="col">
    <div class="rightside">

      <po-page-login

      (p-login-submit)="onloginSubmit($event)"
      [p-loading]="isLoading"
      [p-logo]="logo"
      [p-secondary-logo]="secondaryLogo"
      [p-literals]="customLiterals"
      >
    </po-page-login>
    </div>
  </div>
</div>
