<div class="po-wrapper">
  <po-toolbar
  p-notification-number="0"
  [p-title]="title"
  [p-show-notification]="false"
  [p-notification-actions]="[]"
  [p-profile]="profile"
  [p-profile-actions]="profileActions"
  >
</po-toolbar>


<router-outlet></router-outlet>
<po-menu [p-menus]="menu" [p-logo]="logo"> </po-menu>

<po-page-default class="po-text-center titulo"
>Dashboard FORD
<po-container class="po-md-11 po-ml-5 po-mt-2" >
  <app-card-carro></app-card-carro>
</po-container>
</po-page-default>

</div>
